* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #142d4c;
    color: #ececec;
    font-family: 'Nunito', sans-serif;
    font-family: 'Young Serif', serif;

}

.cohortchooser {
    padding-top: 5em;
    background-color: white;
    text-align: center;
}

.cohortchooser h1 {
    margin-bottom: 2em;
}
div.registration {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
    width: 100%;
    background-color: #385170;
    color: #ececec;
    
}
div.registration h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.registration select option {
    color: black;
}

input, select {
    color: white;
    border: solid #9fd3c7;
}

