{% extends 'base.html' %}

{% block content%}
    <div class="cohortchooser">
        <div class="cohorts">
            <h1>Select Cohort</h1>
            <div class="cohortslist">
                <a href="url"><button type="button" class="btn btn-primary">Male</button></a>
                <a href="url"><button type="button" class="btn btn-primary">Female</button></a>
                <a href="url"><button type="button" class="btn btn-primary">Moms</button></a>
                <a href="url"><button type="button" class="btn btn-primary">Cheetah</button></a>
            
            </div>
        </div>
    </div>
{% endblock %}